<div class="blog-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Single Featured Post Big Start -->
                    <%- include('sub-partials/single-featured-post-big.ejs') %>
                    <!-- Single Featured Post Big End -->

                    <!-- About Author Start -->
                    <%- include('sub-partials/about-author.ejs') %>
                    <!-- About Author End -->

                    <div class="pager d-flex align-items-center justify-content-between">
                        <div class="prev">
                            <a href="#" class="active"><i class="fa fa-angle-left"></i> previous</a>
                        </div>
                        <div class="next">
                            <a href="#">Next <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>

                    <div class="section-heading">
                        <h6>Related</h6>
                    </div>

                    <div class="row">
                        <!-- Single Post Start -->
                        <%- include('sub-partials/single-post-shorter-1.ejs') %>
                        <!-- Single Post End -->

                        <!-- Single Post Start -->
                        <%- include('sub-partials/single-post-shorter-2.ejs') %>
                        <!-- Single Post End -->

                    </div>

                    <!-- Comment Area Start -->
                    <%- include('sub-partials/comment-area.ejs') %>
                    <!-- Comment Area End -->

                    <div class="post-a-comment-area section-padding-80-0">
                        <h4>Leave a comment</h4>
                        
                        <!-- Reply Form Start -->
                        <%- include('sub-partials/reply-form.ejs') %>
                        <!-- Reply Form End -->

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">

                    <!-- Latest Posts Widget -->
                    <div class="latest-posts-widget mb-50">

                        <!-- Single Featured Post Start -->
                        <%- include('sub-partials/single-featured-post-1.ejs') %>
                        <!-- Single Featured Post End -->

                        <!-- Single Featured Post Start -->
                        <%- include('sub-partials/single-featured-post-2.ejs') %>
                        <!-- Single Featured Post End -->

                        <!-- Single Featured Post Start -->
                        <%- include('sub-partials/single-featured-post-3.ejs') %>
                        <!-- Single Featured Post End -->

                        <!-- Single Featured Post Start -->
                        <%- include('sub-partials/single-featured-post-4.ejs') %>
                        <!-- Single Featured Post End -->

                        <!-- Single Featured Post Start -->
                        <%- include('sub-partials/single-featured-post-5.ejs') %>
                        <!-- Single Featured Post End -->

                        <!-- Single Featured Post Start -->
                        <%- include('sub-partials/single-featured-post-6.ejs') %>
                        <!-- Single Featured Post End -->

                    </div>

                    <!-- Popular News Widget -->
                    <div class="popular-news-widget mb-50">
                        <h3>4 Most Popular News</h3>

                        <!-- Single Popular Blog Start -->
                        <%- include('sub-partials/single-popular-blog-1.ejs') %>
                        <!-- Single Popular Blog End -->

                        <!-- Single Popular Blog Start -->
                        <%- include('sub-partials/single-popular-blog-2.ejs') %>
                        <!-- Single Popular Blog End -->

                        <!-- Single Popular Blog Start -->
                        <%- include('sub-partials/single-popular-blog-3.ejs') %>
                        <!-- Single Popular Blog End -->

                        <!-- Single Popular Blog Start -->
                        <%- include('sub-partials/single-popular-blog-4.ejs') %>
                        <!-- Single Popular Blog End -->

                    </div>

                    <!-- Newsletter Widget -->
                    <%- include('sub-partials/newsletter-widget-blog-area.ejs') %>

                    <!-- Latest Comments Widget -->
                    <div class="latest-comments-widget">
                        <h3>Latest Comments</h3>

                        <!-- Single Comment Start -->
                        <%- include('sub-partials/single-comment-1.ejs') %>
                        <!-- Single Comment End -->

                        <!-- Single Comment Start -->
                        <%- include('sub-partials/single-comment-2.ejs') %>
                        <!-- Single Comment End -->

                        <!-- Single Comment Start -->
                        <%- include('sub-partials/single-comment-3.ejs') %>
                        <!-- Single Comment End -->

                        <!-- Single Comments Start -->
                        <%- include('sub-partials/single-comment-4.ejs') %>
                        <!-- Single Comment End -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>