<div class="blog-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Single Featured Post Start -->
                    <%- include('sub-partials/single-featured-post-1.ejs') %>
                    <!-- Single Featured Post End -->

                    <!-- Single Featured Post Start -->
                    <%- include('sub-partials/single-featured-post-2.ejs') %>
                    <!-- Single Featured Post End -->

                    <!-- Single Featured Post Start -->
                    <%- include('sub-partials/single-featured-post-3.ejs') %>
                    <!-- Single Featured Post End -->

                    <!-- Single Featured Post Start -->
                    <%- include('sub-partials/single-featured-post-4.ejs') %>
                    <!-- Single Featured Post End -->

                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-50">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">

                    <!-- Latest Posts Widget -->
                    <div class="latest-posts-widget mb-50">
                        <h3>Latest Posts</h3>
                        <% if(typeof latestPosts != 'undefined') {%>
                        <% latestPosts.forEach(latestPost => {%>
                        <% let postDate = new Date(latestPost.postDate) %>
                        <!-- Single Featured Post Start -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/<%= latestPost.article_image %>" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="/category/<%= latestPost.category_id %>" class="post-catagory"><%= latestPost.category_title %></a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6><%= latestPost.article_title %></h6>
                                    </a>
                                    <p class="post-date"><%= latestPost.article_postdate %></p>
                                    <!-- <p class="post-date"><%= dateAndTime.format(postDate, 'h:mm A | MMM DD | YYYY') %></p> -->
                                </div>
                            </div>
                        </div>
                        <%  })%>
                        <%  }%>
                        <!-- Single Featured Post End -->

                    </div>

                    <!-- Popular News Widget -->
                    <div class="popular-news-widget mb-50">
                        <h3>4 Most Popular News</h3>

                        <!-- Single Popular Blog Start -->
                        <%- include('sub-partials/single-popular-blog-1.ejs') %>
                        <!-- Single Popular Blog End -->

                        <!-- Single Popular Blog Start -->
                        <%- include('sub-partials/single-popular-blog-2.ejs') %>
                        <!-- Single Popular Blog End -->

                        <!-- Single Popular Blog Start -->
                        <%- include('sub-partials/single-popular-blog-3.ejs') %>
                        <!-- Single Popular Blog End -->

                        <!-- Single Popular Blog Start -->
                        <%- include('sub-partials/single-popular-blog-4.ejs') %>
                        <!-- Single Popular Blog End -->
                    </div>

                    <!-- Newsletter Widget Blog Area Start -->
                    <%- include('sub-partials/newsletter-widget-blog-area.ejs') %>
                    <!-- Newsletter Widget Area End -->

                    <!-- Latest Comments Widget -->
                    <div class="latest-comments-widget">
                        <h3>Latest Comments</h3>

                        <!-- Single Comment Start -->
                        <%- include('sub-partials/single-comment-1.ejs') %>
                        <!-- Single Comment End -->

                        <!-- Single Comment Start -->
                        <%- include('sub-partials/single-comment-2.ejs') %>
                        <!-- Single Comment End -->

                        <!-- Single Comment Start -->
                        <%- include('sub-partials/single-comment-3.ejs') %>
                        <!-- Single Comment End -->

                        <!-- Single Comment Start -->
                        <%- include('sub-partials/single-comment-4.ejs') %>
                        <!-- Single Comment End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>