<div class="editors-pick-post-area section-padding-80-50">
    <div class="container">
        <div class="row">
            <!-- Editors Pick -->
            <div class="col-12 col-md-7 col-lg-9">
                <div class="section-heading">
                    <h6>Editor’s Pick</h6>
                </div>

                <div class="row">

                    <!-- Single Post Editorial Start -->
                    <%- include('sub-partials/single-post-editorial-1.ejs') %>
                    <!-- Single Post Editorial End -->

                    <!-- Single Post Editorial Start -->
                    <%- include('sub-partials/single-post-editorial-2.ejs') %>
                    <!-- Single Post Editorial End -->

                    <!-- Single Post Editorial Start -->
                    <%- include('sub-partials/single-post-editorial-3.ejs') %>
                    <!-- Single Post Editorial End -->

                    <!-- Single Post Editorial Start -->
                    <%- include('sub-partials/single-post-editorial-4.ejs') %>
                    <!-- Single Post Editorial End -->

                    <!-- Single Post Editorial Start -->
                    <%- include('sub-partials/single-post-editorial-5.ejs') %>
                    <!-- Single Post Editorial End -->

                    <!-- Single Post Editorial Start -->
                    <%- include('sub-partials/single-post-editorial-6.ejs') %>
                    <!-- Single Post Editorial End -->

                </div>
            </div>

            <!-- World News -->
            <div class="col-12 col-md-5 col-lg-3">
                <div class="section-heading">
                    <h6>World News</h6>
                </div>

                <!-- Single Blog Post Editorial Start -->
                <%- include('sub-partials/single-blog-post-editorial-1.ejs') %>
                <!-- Single Blog Post Editorial End -->
                
                <!-- Single Blog Post Editorial Start -->
                <%- include('sub-partials/single-blog-post-editorial-2.ejs') %>
                <!-- Single Blog Post Editorial End -->

                <!-- Single Blog Post Editorial Start -->
                <%- include('sub-partials/single-blog-post-editorial-3.ejs') %>
                <!-- Single Blog Post Editorial End -->

                <!-- Single Blog Post Editorial Start -->
                <%- include('sub-partials/single-blog-post-editorial-4.ejs') %>
                <!-- Single Blog Post Editorial End -->

                <!-- Single Blog Post Editorial Start -->
                <%- include('sub-partials/single-blog-post-editorial-5.ejs') %>
                <!-- Single Blog Post Editorial End -->

            </div>
        </div>
    </div>
</div>