<div class="popular-news-area section-padding-80-50">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="section-heading">
                    <h6>Popular News</h6>
                </div>

                <div class="row">

                    <!-- Single Post Start -->
                    <%- include('sub-partials/single-post-1.ejs') %>
                    <!-- Single Post End -->

                    <!-- Single Post Start -->
                    <%- include('sub-partials/single-post-2.ejs') %>
                    <!-- Single Post End -->

                    <!-- Single Post Start -->
                    <%- include('sub-partials/single-post-3.ejs') %>
                    <!-- Single Post End -->

                    <!-- Single Post Start -->
                    <%- include('sub-partials/single-post-4.ejs') %>
                    <!-- Single Post End -->

                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="section-heading">
                    <h6>Info</h6>
                </div>
                <!-- Popular News Widget -->
                <div class="popular-news-widget mb-30">
                    <h3>4 Most Popular News</h3>

                    <!-- Single Popular Blog Start -->
                    <%- include('sub-partials/single-popular-blog-1.ejs') %>
                    <!-- Single Popular Blog End -->

                    <!-- Single Popular Blog Start-->
                    <%- include('sub-partials/single-popular-blog-2.ejs') %>
                    <!-- Single Popular Blog End -->

                    <!-- Single Popular Blog Start -->
                    <%- include('sub-partials/single-popular-blog-3.ejs') %>
                    <!-- Single Popular Blog End -->

                    <!-- Single Popular Blog Start -->
                    <%- include('sub-partials/single-popular-blog-4.ejs') %>
                    <!-- Single Popular Blog End -->

                </div>

                <!-- Newsletter Widget Start -->
                <%- include('sub-partials/newsletter-widget.ejs') %>
                <!-- Newsletter Widget End -->

            </div>
        </div>
    </div>
</div>