<section class="newspaper-team mb-30">
    <div class="container">
        <div class="row">

            <% if(typeof authors != 'undefined'){ %>
                <% if (authors.length > 0) {%>
                    <% authors.forEach(author =>{ %>
                        <!-- Single Featured Member Start -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-team-member">
                                <img src="/img/bg-img/<%= author.author_image %>" alt="<%= author.author_id %>">
                                <div class="team-info">
                                    <h5><%= author.author_name %></h5>
                                    <h6><%= author.author_title %></h6>
                                    <p><%= author.author_about %></p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Featured Member End -->
                <% }); %>
                <% } else{%>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-team-member">
                            <div class="team-info">
                                <h3>Info is missing!</h3>
                            </div>
                        </div>
                    </div>
                <% }%>
            <% } %>

        </div>
    </div>
</section>