<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title><%= title%></title>
    
    <!-- Favicon -->
    <%- include('partials/icon.ejs') %>

    <!-- Core Stylesheet -->
    <%- include('partials/styles.ejs') %>

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include('partials/header-full.ejs') %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <%- include('partials/hero-area.ejs') %>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Featured Post Area Start ##### -->
    <%- include('partials/featured-post-area.ejs') %>
    <!-- ##### Featured Post Area End ##### -->

    <!-- ##### Popular News Area Start ##### -->
    <%- include('partials/popular-news-area.ejs') %>
    <!-- ##### Popular News Area End ##### -->

    <!-- ##### Video Post Area Start ##### -->
    <%- include('partials/video-post-area.ejs') %>
    <!-- ##### Video Post Area End ##### -->

    <!-- ##### Editorial Post Area Start ##### -->
    <%- include('partials/editorial-post-area.ejs') %>
    <!-- ##### Editorial Post Area End ##### -->

    <!-- ##### Footer Add Area Start ##### -->
    <%- include('partials/footer-add-area.ejs') %>
    <!-- ##### Footer Add Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%- include('partials/footer-area.ejs') %>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <%- include('partials/scripts.ejs') %>
</body>

</html>